.subtitle-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--heading);
  padding: 0 20px;
  margin: 40px 0;
  
  .extra-top-space {
    padding-top: 40px;
  }

  .subtitle {
    font-size: 2.3rem;
    color: var(--heading);
    line-height: 2.6rem;
    padding-bottom: .5rem;
  }

  .description {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--text);
    max-width: var(--tablet-width);
  }

  @media (max-width: 900px) {
    .extra-top-space {
      padding-top: 0;
    }
  }
}
