.apply-main {
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: var(--background);


  .left-side {
    position: relative;
    display: flex;
    max-width: 50%;
    flex-grow: 1;
    background-image: url('/images/rocket.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 100%;
    }

    &>* {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.335);
      z-index: 1;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 160px;
    padding: 0px 15px 30px;

    .form-container {
      overflow: scroll;
      width: 100%;
      margin-top: 30px;
      padding: 15px 15px;
      flex-grow: 1;
      border-radius: 20px;
      background-color: white;
    }
  }
}

@media screen and (max-width: 900px) {
  .apply-main {
    flex-direction: column;

    &>div {
      max-width: 100% !important;
      width: 100% !important;
    }
    .left-side {
      max-height: 190px;
    }
    .right-side {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 780px) {
  .apply-main {
    .left-side {
      max-height: 240px;
    }
  }
}