.card-services-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 40px auto 0;
  gap: 40px;
  max-width: var(--tablet-width);
  padding: 0 20px;

  @media (max-width: 1100px) and (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (max-width: 900px) and (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: 756px) {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    position: relative;
    box-shadow: var(--shadow-card);

    .image {
      display: flex;
      margin: 0 auto;
      padding-top: 20px;
      max-width: 100px;
    }

    .details {
      display: flex;
      flex-direction: column;
      padding: 20px;

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .title {
          font-size: 1.3rem;
          line-height: 1.5rem;
          color: var(--heading);
          letter-spacing: 4px;
          text-align: center;
        }

        .price {
          font-size: 1.5rem;
          font-weight: 700;
          color: var(--heading);
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8px;
        font-size: 1rem;
        color: var(--text);
        text-align: center;

        button {
          margin-top: 24px;
        }
      }
    }
  }
}
