.billboard-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 60px 60px 0;
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 16px;

    h1 {
      font-size: 2.5rem;
      color: var(--heading);
      line-height: 3.5rem;
    }

    p {
      font-size: 1.5rem;
    }

    .learn-more {
      width: 200px;
      margin-top: 20px;
      
      @media (max-width: 756px) {
        margin: 20px auto;
      }

    }

    .animate-text{
      text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 2.5rem;
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
  }

    svg {
      height: auto;
      width: auto;
    }

    @media (max-width: 756px) {
    grid-template-columns: 1fr;
    padding: 20px 20px 0;
    text-align: center;
  }
}
