.text-paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  max-width: var(--tablet-width);
  margin: 80px auto 0;
  padding: 0 20px;
  gap: 40px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 3rem;
      line-height: 2.6rem;
      letter-spacing: 2px;
      
      span {
        text-decoration: underline 1px solid;
      }
    }

    h2 {
      padding-top: 24px;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: .8px;
    }
    
    @media(max-width: 1024px){ 
      align-items: center;
    }
  }

  .text {
    p {
      padding-top: 1rem;
    }
  }

  @media(max-width: 1024px){
    grid-template-columns: 1fr;
    gap: 20px;
  }
}